<section>
    <div class="container py-5">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <div class="card-body p-4">
                        <h2 class="fw-bold mb-2 text-uppercase text-center">Login</h2>
                        <p class="text-center mb-5">Please enter your login and password!</p>
                        <form>
                            <!-- Email input -->
                            <div class="form-outline mb-4">
                                <input type="email" placeholder="Email" name="email" class="form-control" [(ngModel)]="username" />
                            </div>
                            <!-- Password input -->
                            <div class="form-outline mb-4">
                                <input type="password" placeholder="Password" name="password" class="form-control" [(ngModel)]="password" />
                            </div>
                            <!-- Submit button -->
                            <button type="button" class="btn btn-primary btn-block mb-4" (click)="handleSubmit()">Sign in</button>
                        </form>
                        <div class="text-center">
                            <a href="#!" class="text-decoration-none">Forgot password?</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
